<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Sweco.SIF.LayerManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Sweco.SIF.LayerManager.Properties.Settings>
            <setting name="REGISTopFilePatternString" serializeAs="String">
                <value>-T-</value>
            </setting>
            <setting name="REGISBotFilePatternString" serializeAs="String">
                <value>-B-</value>
            </setting>
            <setting name="REGISkDFilePatternString" serializeAs="String">
                <value>-kD-</value>
            </setting>
            <setting name="REGISCFilePatternString" serializeAs="String">
                <value>-C-</value>
            </setting>
            <setting name="REGISKHFilePatternString" serializeAs="String">
                <value>-kh-</value>
            </setting>
            <setting name="REGISKVFilePatternString" serializeAs="String">
                <value>-kv-</value>
            </setting>
            <setting name="TopFilePrefix" serializeAs="String">
                <value>TOP</value>
            </setting>
            <setting name="BotFilePrefix" serializeAs="String">
                <value>BOT</value>
            </setting>
            <setting name="kDFilePrefix" serializeAs="String">
                <value>kD</value>
            </setting>
            <setting name="CFilePrefix" serializeAs="String">
                <value>C</value>
            </setting>
            <setting name="KHVFilePrefix" serializeAs="String">
                <value>KHV</value>
            </setting>
            <setting name="KVVFilePrefix" serializeAs="String">
                <value>KVV</value>
            </setting>
            <setting name="ThicknessFilePrefix" serializeAs="String">
                <value>DIKTE</value>
            </setting>
            <setting name="iMODTOPFilePatternString" serializeAs="String">
                <value>TOP*</value>
            </setting>
            <setting name="iMODBOTFilePatternString" serializeAs="String">
                <value>BOT*</value>
            </setting>
            <setting name="iMODkDFilePatternString" serializeAs="String">
                <value>kD*</value>
            </setting>
            <setting name="iMODCFilePatternString" serializeAs="String">
                <value>C*</value>
            </setting>
            <setting name="iMODKHVFilePatternString" serializeAs="String">
                <value>KH*</value>
            </setting>
            <setting name="iMODKVVFilePatternString" serializeAs="String">
                <value>KV*</value>
            </setting>
            <setting name="iMODKVAFilePatternString" serializeAs="String">
                <value>KVA*</value>
            </setting>
            <setting name="TOPSubdirname" serializeAs="String">
                <value>TOP</value>
            </setting>
            <setting name="BOTSubdirname" serializeAs="String">
                <value>BOT</value>
            </setting>
            <setting name="kDSubdirname" serializeAs="String">
                <value>kD</value>
            </setting>
            <setting name="CSubdirName" serializeAs="String">
                <value>C</value>
            </setting>
            <setting name="KHVSubdirname" serializeAs="String">
                <value>KHV</value>
            </setting>
            <setting name="KVVSubdirname" serializeAs="String">
                <value>KVV</value>
            </setting>
            <setting name="ThicknessSubdirname" serializeAs="String">
                <value>DIKTE</value>
            </setting>
            <setting name="MismatchSubdirname" serializeAs="String">
                <value>mismatch</value>
            </setting>
            <setting name="ModelchecksSubdirname" serializeAs="String">
                <value>modelchecks</value>
            </setting>
            <setting name="DefaultKDValue" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DefaultCValue" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="DefaultKHValue" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="DefaultKVValue" serializeAs="String">
                <value>0.01</value>
            </setting>
            <setting name="DefaultKVAValue" serializeAs="String">
                <value>0.3</value>
            </setting>
            <setting name="LevelTolerance" serializeAs="String">
                <value>0.01</value>
            </setting>
            <setting name="MissingThicknessTolerance" serializeAs="String">
                <value>0.01</value>
            </setting>
            <setting name="MaxWarningMessageCount" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="IsInconsistentNoDataChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="REGISAquiferAbbr" serializeAs="String">
                <value>WVP</value>
            </setting>
            <setting name="REGISAquitardAbbr" serializeAs="String">
                <value>SDL</value>
            </setting>
            <setting name="REGISkDFilePostfix" serializeAs="String">
                <value>-kd-verz</value>
            </setting>
            <setting name="REGISCFilePostfix" serializeAs="String">
                <value>-c</value>
            </setting>
            <setting name="REGISThicknessPostfix" serializeAs="String">
                <value>-d-c</value>
            </setting>
            <setting name="IsInconsistentModelAborted" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OutputAquitardLayerPostfix" serializeAs="String">
                <value>SDL</value>
            </setting>
            <setting name="OutputAquiferLayerPostfix" serializeAs="String">
                <value>L</value>
            </setting>
            <setting name="OutputLayerPostfix" serializeAs="String">
                <value>L</value>
            </setting>
        </Sweco.SIF.LayerManager.Properties.Settings>
    </userSettings>
</configuration>