<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Sweco.SIF.WorkflowViz.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Sweco.SIF.WorkflowViz.Properties.Settings>
            <setting name="DotPath" serializeAs="String">
                <value>graphviz-2.49.1\dot.exe</value>
            </setting>
            <setting name="Node_FontSize" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="Node_Margin" serializeAs="String">
                <value>0.11,0.10</value>
            </setting>
            <setting name="Fontname" serializeAs="String">
                <value>arial</value>
            </setting>
            <setting name="LogErrorString" serializeAs="String">
                <value>AN ERROR HAS OCCURRED</value>
            </setting>
        </Sweco.SIF.WorkflowViz.Properties.Settings>
    </userSettings>
</configuration>